# Milvus configuration
MILVUS_HOST=YOUR_MILVUS_HOST
MILVUS_PORT=YOUR_MILVUS_PORT

# vLLM configuration
VLLM_API_URL=YOUR_VLLM_API_URL

# vLLM configuration for embeddings
VLLM_EMBED_API_PORT=YOUR_VLLM_EMBED_API_PORT
VLLM_EMBED_MODEL_NAME=YOUR_VLLM_EMBED_MODEL_NAME

# vLLM configuration for reranker
VLLM_RERANK_API_PORT=YOUR_VLLM_RERANK_API_PORT
VLLM_RERANK_MODEL_NAME=YOUR_VLLM_RERANK_MODEL_NAME

# vLLM configuration for generation
VLLM_GEN_API_PORT=YOUR_VLLM_GENERATION_API_PORT
VLLM_GEN_MODEL_NAME=YOUR_VLLM_GENERATION_MODEL_NAME

# Custom Jina API configuration
CUSTOM_JINA_API_PORT=YOUR_CUSTOM_JINA_API_PORT