# Milvus configuration
MILVUS_HOST=YOUR_MILVUS_HOST
MILVUS_PORT=YOUR_MILVUS_PORT

# vLLM configuration
VLLM_API_URL=YOUR_VLLM_API_URL
VLLM_API_PORT=YOUR_VLLM_API_PORT
VLLM_MODEL_NAME=YOUR_VLLM_MODEL_NAME